<!DOCTYPE html>
<head>
	<title>main page</title>
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/auth.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
	{{>header}}
	<div id="main">
		<h2>Login/Register</h2>

		<form>
			<input id="email" placeholder="Email">
			<input id="password" type="password" placeholder="Password">
			<button id="loginBtn">Login</button>
			<button id="registerBtn">Register</button>
		</form>

		<script src="/js/auth.js"></script>
	</div>
</body>
