<!DOCTYPE html>
<head>
	<title>Menu</title>
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/menu.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
	{{>header}}
	<div id="main">
		<div id="postTweet">
			<h3>Post tweet</h3>
			<h6>Tweet</h6>
			<form id="tweetForm">
				<textarea id="tweetInput" placeholder="your tweet"></textarea>
				<button>Post tweet</button>
			</form>
		</div>

		<div id="postReply">
			<h3>Post tweet in reply</h3>
			<h6>Username</h6>
			<form id="replyToForm">
				<input id="replyToInput" placeholder="username without @">
			</form>
			<h6>Tweet</h6>
			<form id="replyTweetForm">
				<textarea id="replyTweetInput" placeholder="your tweet"></textarea>
				<button>Post tweet</button>
			</form>
		</div>
		<a href="/account">Профиль</a>
	</div>
	<script src="/js/twitter_api.js"></script>
</body>