<!DOCTYPE html>
<head>
	<title>Profile</title>
</head>
<body>
	{{header}}
	<button id="logout">Выйти</button>
	<button id="logoutAll">Удалить все токены</button>
	<script src="/js/profile.js"></script>
</body>