* {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
} 

h3 {
	font-size: 28px;
	margin: 24px;
	margin-bottom: 8px;
}

h6 {
	margin: 8px;
	font-size: 16px;
}

#main {
	margin: auto;
	width: auto;
	min-width: 500px;
	text-align: center;
	border-top: 5px dashed #bf51ff1f;
	border-width: 20px;
}

button {
	width: 350px;
	height: 40px;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.281);
	border-radius: 20px;
	background-color: #bf51ff1f;	
}

input {
	border: 0;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 8px;
	width: 400px;
	height: 40px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.281);
	border-radius: 20px;
}

#replyToForm {
	margin: 8px auto;
}

form {
	text-align: center;
	margin: auto;
	width: 405px;
}

textarea {
	width: 400px;
	height: 100px;
	resize: none;
	border: 0;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.281);
	border-radius: 20px;
}

#postTweet {
	margin-bottom: 64px;
}