* {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

button {
	display: block;
	margin: auto 20px;
	margin: 15px;
	width: 250px;
	height: 40px;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.281);
	border-radius: 20px;
	background-color: #bf51ff1f;	
}

#main {
	height: 500px;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	padding-bottom: 40px;
	width: auto;
	min-width: 500px;
	text-align: center;
	border-top: 5px dashed #bf51ff1f;
	border-bottom: 5px dashed #bf51ff1f;
	border-width: 20px;
}